{{- $mathJaxScript := "vendor/mathjax/4.1.3/tex-mml-chtml.js" | relURL -}}
{{- $mathJaxFontBase := "vendor/mathjax/4.1.3/fonts/" | relURL -}}
<script>
    window.MathJax = {
        tex: {
            inlineMath: [["\\(", "\\)"], ["$", "$"]],
            displayMath: [["\\[", "\\]"], ["$$", "$$"]],
            tags: "ams",
            packages: {"[+]": ["ams"]}
        },
        options: {
            skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code"],
            enableSpeech: false,
            enableBraille: false,
            menuOptions: {
                settings: {
                    enrich: false
                }
            }
        },
        output: {
            scale: 0.9,
            displayOverflow: "overflow",
            fontPath: {{ printf "%s%%%%FONT%%%%" $mathJaxFontBase | jsonify | safeJS }}
        },
        startup: {
            typeset: true
        }
    };
</script>
<script defer src="{{ $mathJaxScript }}"></script>
